<!doctype html>
<html>

<head>
    <title>Line Chart</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
    <div style="position:absolute;right:0px;top:0px;padding:10px;" />
    <form id="bid_form">
    <table>
    <tr><th></th><th>Price</th><th>Quantity</th></tr>
    <tr><td>Offer</td><td><input type="number" name="offer_price" /></td><td><input type="number" name="offer_quantity" /></td></tr>
    <tr><td>Bid</td><td><input type="number" name="bid_price" /></td><td><input type="number" name="bid_quantity" /></td></tr>
    </table>
    <input type="button" onclick="update_orders_from_ui();" />
    </form>
    <ul>
    <li>Holding:<span id="holding_value">0</span></li>
    <li>Cash: £<span id="cash_value">0</span></li>
    </ul>
    
    </div>
</body>

</html>

